@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    background-color: var(--gray-black);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
body{
    background-color: var(--gray-white);
}
:root {
    --gray-white: #F0F1F2;
    --white: #FFFFFF;
    --black: #000000;
    --gray-black: #DDDDDD;
    --light-black: #212523;
    --light-black-op: #21252350;
    --main-green: #157343;
    --main-light: #37A000;
    --light-orange: #FD7E14;
    --green: #008000;
    --light-green: #e9f6ec;
    --red: #FF0000;
    --light-red: #fbeaec;
    /* === FONTS SIZE FOR HEADING === */
    --primary-head: 22px;
    --secondary-head: 1.125rem;
    --secondary: 1rem;
    --primary-para: 0.825rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* === PARENT SECTION === */
.sh-parent-section{
    width: 100%;
    padding: 20px;
}
/* === CHILD SECTION === */
.sh-child-section{
    width: 100%;
}
/* === TOP MENU ITEMS === */
.sh-top-menu-items{
    top: 20px;
    position: sticky;
    z-index: 999;
    width: 100%;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    padding: 10px 0px 10px 10px;
}
.sh-top-menu-items ul{
    width: 100%;
    display: flex;
    align-items: center;
}
.sh-top-menu-items li{
    height: 50px;
}
.sh-top-menu-items a{
    height: 100%;
    padding: 0px 20px;
    color: var(--black);
    font-size: var(--secondary);
    display: flex;
    align-items: center;
}
.sh-menu-items a:hover{
    color: var(--red);
}
/* === ACTIVE MENU === */
.sh-active-item a{
    background-color: var(--main-green);
    color: var(--white);
    border-radius: 5px;
}
/* === REQUISIION LIST SECTION === */
.sh-draft-sale-section{
    margin-top: 20px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.2);
}
.sh-requisition-top-item{
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sh-filter a{
    background-color: var(--main-green);
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--white);
}

/* === CUSTMER SECTION === */
.sh-customer-section{
    margin-top: 20px;
}
/* === CUSTOMER DETAILES === */
.sh-suctomer-details{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sh-supplier-name{
    line-height: 2em;
    font-size: var(--secondary);
}
.sh-supplier-name input{
    cursor: pointer;
    width: 450px;
    padding: 5px 10px;
    border: 1px solid var(--light-black-op);
    font-size: var(--primary-para);
}
.sh-supplier-name input:focus{
    outline: none;
}
/* === LIST === */
.sh-list-container{
    gap: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.sh-list{
    gap: 5px;
    display: flex;
    align-items: center;
}
/* === COMMENT BOX === */
.comment-box{
    margin: 20px;
}
.comment-box textarea{
    width: 100%;
    padding: 10px;
    border:1px solid var(--light-black-op);
}
.comment-box textarea:focus{
    outline: none;
}
/* === EVERYTHING SEARCH BOX ===  */
.everyThing-search-box{
    margin: 20px;
}
.everyThing-search-box input{
    width: 100%;
    padding: 10px 10px;
    font-size: var(--primary-para);
    border: 1px solid var(--light-black-op);
}
.everyThing-search-box input:focus{
    outline: none;
}
/* === PRODUCT ALL DETAILS === */
.sh-produt-all-details-container{
    margin-top: 10px;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    padding: 0px 30px;
}

th,
td {
    border: 1px solid var(--light-black-op);
    padding: 10px 5px;
}

table th {
    font-size: var(--secondary);
    font-weight: 500;
}
table td{
    text-align: center;
    align-items: center;
}
.sh-product-search-box{
    display: flex;  
}
.sh-product-search-box input {
    width: 400px;
    padding: 8px 5px;
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}

.sh-product-search-box input:focus {
    outline: none;
}

.sh-av-box input{
    width: 50px;
    padding: 5px 5px;
    border: 1px solid black;
    font-size: var(--primary-para);
}
.sh-av-box input:focus{
    outline: none;
}   
.sh-qty-number-input input{
    width: 70px;
    padding: 5px 5px;
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-qty-number-input input:focus{
    outline: none;
}
.sh-rate-input-container input{
    width: 60px;
    padding: 5px 5px;
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-rate-input-container input:focus{
    outline: none;
}
.sh-discount-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sh-discount-left-container input{
    width: 50px;
    padding: 5px 5px;
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-discount-left-container input:focus{
    outline: none;
}
.sh-discount-right-container input{
    width: 50px;
    padding: 5px 5px;
    border: 1px solid var(--light-black);
    background-color: var(--light-black-op);
    font-size: var(--primary-para);
}
.sh-discount-right-container input:focus{
    outline: none;
}
.sh-vatbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sh-vat-left-container input{
    width: 50px;
    padding: 5px 5px;
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-vat-left-container input:focus{
    outline: none;
}
.sh-vat-right-container input{
    width: 50px;
    padding: 5px 5px;
    background-color: var(--light-black-op);
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-vat-right-container input:focus{
    outline: none;
}
.sh-total-contaier input{
    width: 100px;
    padding: 5px 5px;
    background-color: var(--light-black-op);
    border: 1px solid var(--light-black);
    font-size: var(--primary-para);
}
.sh-total-contaier input:focus{
    outline:none
}
/* === DELETE ICON === */
.sh-delet-icon i{
    padding: 5px 5px;
    color: var(--red);
    font-size: var(--primary-head);
    border: 1px solid var(--red);
    background-color: var(--light-red);
}
.sh-delet-icon i:hover{
    padding: 5px 5px;
    color: var(--white);
    font-size: var(--primary-head);
    border: 1px solid var(--red);
    background-color: var(--red);
}
.sh-plus-icon-two a i{
    padding: 5px 5px;
    color: var(--main-green);
    font-size: var(--primary-head);
    background-color: var(--light-green);
    border: 1px solid var(--main-green);
}
.sh-plus-icon-two a i:hover{
    padding: 5px 5px;
    color: var(--white);
    font-size: var(--primary-head);
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
}
.sh-additional{
    display: flex;
    justify-content: flex-end;
}
.sh-additional a{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--main-green);
    padding: 5px 5px;
    color: var(--white);
    border-radius: 3px;
}
tbody tr th p{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
/* ==== TABLE END === */


/* === FOOTER === */
.footer-items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.sh-footer-section{
    width: 100%;
    bottom: 0;
    position: sticky;
    z-index: 999;
    padding: 20px;
    background-color: var(--white);
}
.sh-footer-total-container{
    line-height: 2em;
}
.sh-footer-total-container input{
    padding: 5px 10px;
    border: 1px solid var(--light-black-op);
}
.sh-footer-total-container input:focus{
    outline: none;
}
/* === FOOTER BUTTONS === */
.sh-footer-buttona{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 20px;
}
.sh-footer-buttona a{
    color: var(--white);
    background-color: var(--main-green);
    padding: 5px 8px;
    border-radius: 4px;
}